.message {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 10px;
  margin-right: auto;
}

.message > p {
  background-color: #f3f3f5;
  font-size: medium;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  margin-right: auto;
}

.message > small {
  color: gray;
  position: absolute;
  font-size: 8px;
  bottom: -5px;
  white-space: nowrap;
}
